<head>
  <META http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link href="{{ "styles/default.css" | relative_url }}" rel="stylesheet" type="text/css">
  <link href="{{ "favicon.ico" | relative_url }}" rel="shortcut icon" type="image/x-icon" >
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{{ site.description }}">
</head>
