<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="mainSection">
      <img alt="ContentsHeaderImage" src="ContentsHeaderImage.png">
      <ul class="tocRoot">
  {% for childEntry in site.data.contentsPageList.contentsData %}
  {% include tocEntry.html entry=childEntry pageGroup=page.pageGroup %}
  {% endfor %}
      </ul>
    </div>
  </body>
</html>
